[submodule "chromecast/googlecast_Cast-Player-Sample"]
	path = chromecast/googlecast_Cast-Player-Sample
	url = https://github.com/googlecast/Cast-Player-Sample.git
[submodule "chromecast/googlecast/CastHelloText-chrome"]
	path = chromecast/googlecast/CastHelloText-chrome
	url = https://github.com/googlecast/CastHelloText-chrome.git
[submodule "chromecast/googlecast/CastHelloVideo-chrome"]
	path = chromecast/googlecast/CastHelloVideo-chrome
	url = https://github.com/googlecast/CastHelloVideo-chrome.git
[submodule "chromecast/googlecast/CastVideos-chrome"]
	path = chromecast/googlecast/CastVideos-chrome
	url = https://github.com/googlecast/CastVideos-chrome.git
[submodule "chromecast/chromecast-hello-world"]
	path = chromecast/chromecast-hello-world
	url = https://github.com/pjjanak/chromecast-hello-world.git
